
html,body{  
    margin:0px;
    height:100%;
}
div {
    position: absolute;
} 
#main {
    width: 100%;
    height: 100%;
    background-color:#FFFFFF;
}

.bgc_border {
    background-color:#939598;
}

.bgc_purple{
    background-color: #C0C0C0;
}

.bgc_yellow {
    background-color: rgb(253, 230, 166);
}

.bgc_staris {
    background-color: #B4E1E4;
}

.bgc_white {
    background-color: #FFFFFF;
}

.bgc_pink {
    background-color: #FEE7DD;
}

.bgc_blue {
    background-color: rgb(201, 210, 241);
}

.b1 {
    border: solid 1px #939598;
}

.road {
    border: solid 1px #ffffff;
    background-color: #ffffff;
    /* font-size: 0; */
}


.straight_line {
    border: solid 1px #939598;
    border-right: 0px;
    width: 0px;
}

.horizontal_line{
    border: solid 1px #939598;
    border-bottom: 0px;
    height: 0px;
}

#left {
    width: 36px;
    height: 387px;
    top: 92px;
    left: 221px;
}

#left01 {
    width: 112px;
    height: 107px;
    top: 192px;
    left: 258px;
    clip-path: polygon(0 0, 52% 0, 52% 33%, 100% 33%, 100% 100%, 0 100%);
}

#left02 {
    width: 91px;
    height: 177px;
    top: 15px;
    left: 520px;
    clip-path: polygon(0 0, 85% 0%, 100% 0, 100% 71%, 63% 71%, 63% 100%, 0 100%);
}

#left03 {
    width: 36px;
    height: 76px;
    top: 230px;
    left: 386px;
}

#a02 {
    width: 66px;
    height: 94px;
    top: 98px;
    left: 458px;
}

#a01 {
    width: 199px;
    height: 100px;
    top: 1px;
    left: 1px;
    clip-path: polygon(0% 13.5%, 0 0, 13.5% 0%, 71% 1%, 71% 7%, 100% 7%, 100% 85%, 100% 100%, 85% 100%, 15% 100%, 0 100%, 0% 85%);
}
#a01_border {
    width: 202px;
    height: 103px;
    top: 92px;
    left: 258px;
    clip-path: polygon(0% 15%, 0 0, 15% 0%, 71% 1%, 71% 7%, 100% 7%, 100% 85%, 100% 100%, 85% 100%, 15% 100%, 0 100%, 0% 85%);
}
#a04 {
    width: 137px;
    height: 173px;
    top: 133px;
    left: 568px;
    clip-path: polygon(0 0, 85% 0%, 100% 0, 100% 55%, 84% 55%, 84% 100%, 0 100%);
}
#a05 {
    width: 291px;
    height: 201px;
    top: 1px;
    left: 1px;
    clip-path: polygon(0 88%, 0 0, 43.8% 0, 43.8% 3.5%, 47% 3.5%, 47% 15%, 100% 15%, 100% 51%, 89% 51%, 89% 100%, 36% 100%, 36% 88%);
}
#a05_border {
    width: 294px;
    height: 204px;
    top: 300px;
    left: 258px;
    clip-path: polygon(0 89%, 0 0, 43.8% 0, 43.8% 4.5%, 47% 4.5%, 47% 18%, 100% 18%, 100% 51%, 89% 51%, 89% 100%, 36% 100%, 36% 89%);
}

#b01 {
    width: 134px;
    height: 98px;
    top: 404px;
    left: 513px;
    clip-path: polygon(0% 15%, 0 0, 27.3% 0, 27.3% 25%, 100% 25%, 100% 59%, 100% 70%, 85% 70%, 85% 100%, 15% 100%, 0 100%, 0% 80%);
}

#a03 {
    width: 115px;
    height: 91px;
    top: 215px;
    left: 458px;
}

#stair01 {
    width: 36px;
    height: 76px;
    top: 230px;
    left: 421px;
}

#nursing_station {
    top: 333px;
    left: 674px;
    width: 86px;
    height: 174px;
    background-color: #FEE7DD;
    clip-path: polygon(0 0, 87% 0%, 100% 6%, 100% 94%, 87% 100%, 0 100%);
    z-index: 1;
}
#nursing_station #b01 {
    left: 48px;
    width: 26px;
    height: 6px;
}
#nursing_station #b02 {
    top: 3px;
    left: 66px;
    width: 20px;
    height: 5px;
    transform:rotate(45deg);
}
#nursing_station #b03 {
    left: 80px;
    width: 6px;
    height: 78px;
}
#nursing_station #b04 {
    top: 170px;
    left: 48px;
    width: 26px;
    height: 6px;
}
#nursing_station #b05 {
    top: 169px;
    left: 66px;
    width: 20px;
    height: 7px;
    transform:rotate(-45deg);
}
#nursing_station #b06 {
    top: 103px;
    left: 80px;
    width: 6px;
    height: 64px;
}

#room250 {
    top: 540px;
    left: 221px;
    width: 43px;
    height: 106px;
}
#room251 {
    top: 540px;
    left: 263px;
    width: 43px;
    height: 106px;
}
#room252 {
    top: 540px;
    left: 306px;
    width: 42px;
    height: 106px;
}
#room253 {
    top: 540px;
    left: 348px;
    width: 42px;
    height: 106px;
}
#room255 {
    top: 540px;
    left: 389px;
    width: 42px;
    height: 106px;
}
#room256 {
    top: 540px;
    left: 430px;
    width: 42px;
    height: 106px;
}
#stair02 {
    top: 541px;
    left: 472px;
    width: 42px;
    height:106px;
    border-top: 0px;
}
#room257 {
    top: 540px;
    left:513px;
    width: 42px;
    height: 106px;
}
#room258 {
    top: 540px;
    left: 554px;
    width: 42px;
    height:106px;
}
#room259 {
    top: 540px;
    left: 595px;
    width: 41px;
    height: 106px;
}
#room260 {
    top: 540px;
    left: 634px;
    width: 41px;
    height:106px;
}
#temp071 {
    top: 540px;
    left: 674px;
    width: 42px;
    height: 26px;
}
#temp072{
    top: 564px;
    left: 674px;
    width: 42px;
    height: 82px;
}

#stair03 {
    top: 229px;
    left: 701px;
    width: 92px;
    height: 66px;
    border-bottom: 0px;
}

#elevator01 {
    top: 259px;
    left: 728px;
    width: 39px;
    height: 43px;
}
#temp12 {
    top: 229px;
    left: 793px;
    width: 13px;
    height: 77px;
}

#temp13 {
    top: 229px;
    left: 807px;
    width: 51px;
    height: 38px;
}

#elevator02 {
    top: 268px;
    left: 807px;
    width: 51px;
    height: 38px;
}

#elevator03 {
    top: 169px;
    left: 819px;
    width: 38px;
    height: 59px;
}
#temp32 {
    top: 229px;
    left: 683px;
    width: 18px;
    height: 77px;
}

#b02 {
    top: 15px;
    left: 665px;
    width: 286px;
    height: 106px;
    clip-path: polygon(0 0, 100% 0, 100% 40%, 80% 40%, 80% 80%, 67% 80%, 67% 100%, 0 100%);
}
#c01 {
    top: 58px;
    left: 895px;
    width: 56px;
    height: 42px;
}
#room201 {
    top: 229px;
    left: 905px;
    width: 79px;
    height: 81px;
}
#room202 {
    top: 229px;
    left: 983px;
    width: 40px;
    height: 81px;
}
#room203 {
    top: 229px;
    left: 1022px;
    width: 37px;
    height: 81px;
}
#room205 {
    top: 229px;
    left: 1058px;
    width: 40px;
    height: 81px;
}
#room206 {
    top: 229px;
    left: 1097px;
    width: 41px;
    height: 81px;
}
#room207 {
    top: 229px;
    left: 1137px;
    width: 46px;
    height: 81px;
}

#room208 {
    top: 229px;
    left: 1183px;
    width: 46px;
    height: 81px;
}

#temp22 {
    top: 496px;
    left: 803px;
    width: 5px;
    height: 180px;
}

#temp23_border {
    top: 522px;
    left: 755px;
    width: 49px;
    height: 17px;
    clip-path: polygon(30% 0%, 100% 0, 100% 100%, 0 100%);
}
#temp23 {
    top: 16px;
    left: 1px;
    width: 48px;
    height: 16px;
    clip-path: polygon(30.5% 0%, 97.9% 0, 97.9% 94%, 3% 94%);
}

#elevator04 {
    top: 538px;
    left: 755px;
    width: 47px;
    height: 29px;
}

#elevator05 {
    top: 564px;
    left: 755px;
    width: 47px;
    height: 31px;
}

#stair06 {
    top: 596px;
    left: 738px;
    width: 65px;
    height: 41px;
    border-left: 0px;
    background: linear-gradient(to right,  #FFFFFF 0%,#FFFFFF 26%,#B4E1E4 26%,#B4E1E4 100%);
}

#elevator06 {
    top: 638px;
    left: 755px;
    width: 47px;
    height: 38px;
}
#temp24 {
    top: 677px;
    left: 709px;
    width: 99px;
    height: 19px;
}

#c02 {
    top: 418px;
    left: 809px;
    width: 270px;
    height: 189px;
    clip-path: polygon(0 41%, 8% 41%, 8% 0%, 100% 0, 100% 38%, 96% 38%, 96% 87%, 34% 87%, 34% 94%, 0 94%);
}

#stair07 {
    top: 583px;
    left: 875px;
    width: 75px;
    height: 61px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 55% 100%, 55% 63%, 0 63%);
}

#a06 {
    top: 583px;
    left: 951px;
    width: 260px;
    height:120px;
    clip-path: polygon(0 0, 15% 1%, 15% 50%, 71% 50%, 71% 10%, 100% 10%, 100% 100%, 0 100%);
}
#left05 {
    top: 1px;
    left: 1px;
    width: 259px;
    height:130px;
    clip-path: polygon(0 0, 14% 0%, 14% 47%, 70.5% 47%, 70.5% 10%, 100% 10%, 100% 100%, 0 100%);
}
#left05_border {
    top: 583px;
    left: 951px;
    width: 259px;
    height:131px;
    clip-path: polygon(0 0, 15% 0%, 15% 47%, 71% 47%, 71% 10%, 100% 10%, 100% 100%, 0 100%);
}
#left06 {
    top: 595px;
    left: 821px;
    width: 129px;
    height:119px;
    clip-path: polygon(0 0, 42% 0, 42% 22%, 74% 22%, 74% 42%, 100% 42%, 100% 100%, 0 100%);
}
#stair08 {
    top: 331px;
    left: 905px;
    width: 116px;
    height: 70px;
    clip-path: polygon(0 0, 10% 0, 10% 10%, 29% 10%, 29% 0, 100% 0, 100% 100%, 49% 100%, 49% 72%, 20% 72%, 20% 100%, 0 100%);
}
#r55 {
    top: 331px;
    left: 830px;
    width: 73px;
    height: 69px;
}
#stair09 {
    top: 331px;
    left: 1021px;
    width: 36px;
    height: 70px;
}
#stair10 {
    top: 331px;
    left: 1097px;
    width: 75px;
    height: 42px;
}
#room200 {
    top: 374px;
    left: 1097px;
    width: 75px;
    height: 27px;
}
#room209 {
    top: 331px;
    left: 1172px;
    width: 57px;
    height: 70px;
}
#stair11 {
    top: 60px;
    left: 952px;
    width: 38px;
    height: 39px;
}
#temp17 {
    top: 43px;
    left: 1040px;
    width: 85px;
    height: 41px;
}
#temp18 {
    top: 43px;
    left: 1125px;
    width: 85px;
    height: 41px;
}
#temp19 {
    top: 84px;
    left: 1125px;
    width: 85px;
    height: 73px;
    clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%, 75% 100%, 75% 21%, 47% 21%, 46% 100%);
}
#temp20 {
    top: 98px;
    left: 1030px;
    width: 95px;
    height: 59px;
    clip-path: polygon(35% 46%, 0 46%, 0 0, 100% 0, 100% 100%, 35% 100%);
}
#temp21 {
    top: 126px;
    left: 983px;
    width: 80px;
    height: 43px;
}
#stair12{
    top: 99px;
    left: 1164px;
    width: 28px;
    height: 58px;
}
#temp25 {
    top: 331px;
    left: 997.5px;
    width: 23px;
    height: 32px;
}
#a07 {
    top: 333px;
    left: 674px;
    width: 29px;
    height: 38px;
    z-index:2;
}
#a08 {
    top: 362px;
    left: 628px;
    width: 45px;
    height: 55px;
    z-index:2;
}
#r12 {
    top: 503px;
    left: 222px;
    width: 41px;
    height: 34px;
}
#r13 {
    top: 503px;
    left: 263px;
    width: 42px;
    height: 34px;
}
#r14 {
    top: 503px;
    left: 306px;
    width: 41px;
    height: 34px;
}
#r15 {
    top: 504px;
    left: 348px;
    width: 40.5px;
    height: 33px;
}
#r16 {
    top: 504px;
    left: 389px;
    width: 40px;
    height: 33px;
}
#r17 {
    top: 504px;
    left: 430px;
    width: 41px;
    height: 33px;
}
#r18 {
    top: 504px;
    left: 472px;
    width: 40.5px;
    height: 33px;
}
#r19 {
    top: 504px;
    left: 513px;
    width: 40px;
    height: 34px;
}
#r20 {
    top: 503px;
    left: 554px;
    width: 40.5px;
    height: 34px;
}
#r21 {
    top: 503px;
    left: 595px;
    width: 38px;
    height: 34px;
}
#r22 {
    top: 509px;
    left: 634px;
    width: 39px;
    height: 28px;
}
#r23 {
    top: 509px;
    left: 674px;
    width: 42px;
    height: 28px;
}
.road .edge{
    display: none;
}

.arrow {
    width: 15px;
    height: 12px;
    background-color: #FF0000;
    clip-path: polygon(40% 0%, 40% 40%, 100% 40%, 100% 60%, 40% 60%, 40% 100%, 0% 50%);
    display: none;
    animation: start 1s infinite ease-in-out;
}
@keyframes start {
    0% {opacity: 0;}
    50% {opacity: 1;}
}
.arrow_left {
    top: 5px;
    left: 3px;
}
.arrow_right {
    top:5px;
    right: 3px;
    transform: rotate(180deg);
}
.arrow_top {
    top: 5px;
    left: 5px;
    transform: rotate(90deg);
}
.arrow_bottom {
    bottom: 5px;
    left: 5px;
    transform: rotate(-90deg);
}
#r57 {
    top: 509px;
    left: 718px;
    width: 34px;
    height: 86px;
}
#r01 {
    top: 308px;
    left: 397px;
    width: 60px;
    height: 26px;
}
#r02 {
    top: 308px;
    left: 458px;
    width: 91px;
    height: 25px;
}
#r03 {
    top: 308px;
    left: 550px;
    width: 76px;
    height: 25px;
}
#r04 {
    top: 308px;
    left: 628px;
    width: 73px;
    height: 22px;
}
#r05 {
    top: 304px;
    left: 728px;
    width: 39px;
    height: 26px;
}
#r06 {
    top: 334px;
    left: 552px;
    width: 74px;
    height: 71px;
}

#r31 {
    top: 311px;
    left: 860.5px;
    width: 43px;
    height: 19px;
}

#r32 {
    top: 229px;
    left: 860px;
    width: 43px;
    height: 38px;
}

#r33 {
    top: 268px;
    left: 860px;
    width: 43px;
    height: 38px;
}


#r37 {
    top: 312px;
    left: 905px;
    width: 77.5px;
    height: 16px;
}

#r38 {
    top: 312px;
    left: 983px;
    width: 38px;
    height: 16px;
}

#r39 {
    top: 312px;
    left: 1022px;
    width: 36px;
    height: 16px;
}

#r40 {
    top: 312px;
    left: 1058px;
    width: 38.5px;
    height: 16px;;
}

#r41 {
    top: 312px;
    left: 1097px;
    width: 39.5px;
    height: 16px;;
}
#r42 {
    top: 312px;
    left: 1136px;
    width: 46px;
    height: 16px;;
}

#r56 {
    top: 312px;
    left: 1183px;
    width: 44px;
    height: 16px;;
}


#r43 {
    top: 331px;
    left: 1060px;
    width: 35px;
    height: 42px;;
}

#r44 {
    top: 374px;
    left: 1060px;
    width: 35px;
    height: 28px;;
}

#r30 {
    top: 403px;
    left: 830px;
    width: 100px;
    height: 13px;
}

#r24 {
    top: 384px;
    left: 928px;
    width: 33px;
    height: 31px;
}

#r25 {
    top: 403px;
    left: 962px;
    width: 59px;
    height: 12px;
}

#r26 {
    top: 403px;
    left: 1021px;
    width: 36px;
    height: 12px;
}

#r27 {
    top: 403px;
    left: 1058px;
    width: 38.5px;
    height: 12px;;
}

#r28 {
    top: 403px;
    left: 1097px;
    width: 39.5px;
    height: 12px;;
}
#r29 {
    top: 403px;
    left: 1136px;
    width: 91px;
    height: 12px;;
}
#r07 {
    top: 126px;
    left: 860px;
    width: 60px;
    height: 98px;
}

#r08 {
    top: 102px;
    left: 860px;
    width: 89px;
    height: 21px;
}

#r09 {
    top: 103px;
    left: 952px;
    width: 38px;
    height: 20px;;
}

#r10 {
    top: 87px;
    left: 992px;
    width: 36px;
    height: 36px;;
}
#r11 {
    top: 86px;
    left: 1030px;
    width: 93px;
    height: 10px;;
}
#r34 {
    top: 345px;
    left: 765px;
    width: 35px;
    height: 30px;
}

#r35 {
    top: 375px;
    left: 765px;
    width: 35px;
    height: 30px;
}

#r36 {
    top: 439px;
    left: 765px;
    width: 35px;
    height: 55px;
}
